
.options_main{
    width: 100%;
}
.row__options{
    display: flex;
    overflow-y: scroll;
    overflow-x: scroll;
    padding-bottom: 20px;
}
.row__option{
    height: 15vh;
    width: 100px;
    margin: 30px 0px 0px 30px;
    display: flex;
    align-items: center;
    text-align: center;
    transition: all 0.2s ease-in-out;
}
.row__option > a{
    padding: 20px;
    text-decoration: none;
    color: #111;
}
.row__option > a:hover{
    transform: scale(1.1);
}
.row__option > a{
    font-size: 14px;
}



